$color-primary: black;
$color-soft-primary: #f6f6f6;
$color-soft-secondary: #efefef;

$background-color-primary: $color-soft-primary;
$background-color-secondary: $color-soft-secondary;

$border-color-primary: $color-soft-primary;

$file-status-available: #82d131;
