@import '../../styles/variables';

#file-table {
  border: 1px solid $border-color-primary;
  box-shadow: 0.1em 0.3em $border-color-primary;

  header {
    padding: 1em 0;
    border-bottom: 1px solid $border-color-primary;

    .select-all-checkbox {
      margin: 0 1em 0 0.5em;
    }

    .selected-files-count {
      display: inline-block;
      min-width: 7em;
    }

    button {
      margin: -1em 1em;
      padding: 0.7em 1em;
      border: none;
      border-radius: 0.3em;
      font-size: 1em;
      background-color: transparent;

      &:hover {
        background-color: $background-color-primary;
        cursor: pointer;
      }

      img {
        vertical-align: middle;
        max-height: 1em;
        margin-right: 0.3em;
      }
    }
  }

  table {
    width: 100%;
    border-spacing: 0;
  }

  th {
    padding: 0.8em 0.2em;
    text-align: left;
    font-weight: normal;
    font-size: 1.2em;
  }

  tbody {
    tr:hover {
      background-color: $background-color-primary;
      cursor: pointer;
    }

    .file-table-row-selected {
      background-color: $background-color-secondary;
    }

    td {
      padding: 0.8em 0.2em;
      border-top: 1px solid $border-color-primary;
    }

    .file-table-status {
      text-transform: capitalize;
    }

    .file-status-available {
      display: block;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background-color: $file-status-available;
    }
  }
}
